

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     font-family: "Source Sans 3", sans-serif;
     font-size: 14px;
     font-weight: 300;
     background: #EDEDED;
}

.container{
    background:#FFF;
    margin: 0 auto;
    width: 375px;

}
.images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C6C6C6;
}

.user-avatar{
    width: 127px;
}

.user-avatar{
 height: 34px;
 width: 34px;
 border-radius: 50%;
}
.oldagram-logo{
    width: 127px;
}
.oldagram-logo,.user-avatar{
 margin:16px;
}
.user-avatar{
    border: 1px solid #C6C6C6;
}

/* Main Content */

.user-info{
    display: flex;
    align-items: center;
}
.bold-text{
    font-weight: 700;
}
.user-name{
    color:#000;
    font-size: 13px;
    line-height: 16px;
    margin: 10px 0 0;
}
.country-name{
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 13px 0;
}
.post-img{
    max-width: 100%;
    margin: 0;
}
/* ICONS */

.icon-imgs{
    display: flex;
    justify-content: space-between;
    width: 80px;
}
.post-container{
    /* padding: 25px 0; */
}
.icon-img{
    width: 34px;
    margin: 20px 10px;
}
.icon-img:hover{
    background: #C6C6C6;
    cursor: pointer;
    border: none;
}
.user-description{
 padding: 13px 16px;
 color: #000;
}
.likes{
    display: flex;
    justify-content: flex-start;
    margin: 12px 18px 16px;
}